/* General styles for all menus */
.cbp-spmenu {
	background: #761a86;
	position: fixed;
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu ul li  {
	display: block;
	
}

.cbp-spmenu ul li a {
	color: #fff;
	font-size: 1.4em;
	display: block;
	margin: 0em;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	letter-spacing: 0.1em;
	text-decoration: none;
	padding: 1em 1.5em;
	font-weight: 700;
	text-align: left;
	background: #a326b8;

}
.cbp-spmenu ul li a:hover {
	color: #000000;
	background: #9520a9;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 300px;
	height: 92%;
	top: 14%;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	
	padding: 1em;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -300px;
}

.cbp-spmenu-right {
	right: -300px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}
/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
button#showRight {
	background: #fff;
	border: 0;
	outline: none;
	float: left;
	right:87%;
	position: fixed;
	top: 0;
	z-index: 999;
	background: none;
}
button#showLeft {
	background: #fff;
	border: 0;
	outline: none;
	float: right;
	left:87%;
	position: fixed;
	top: 0;
	z-index: 999;
	background: none;
}

a.new-event{
	background: #fff;
	border: 0;
	outline: none;
	float: right;
	left:78%;
	position: fixed;
	top: 0;
	z-index: 999;
	background: none;
	padding: 1px 6px;
}

	/*-- responsive-mediaquries --*/
@media(max-width:1440px){
	.cbp-spmenu-vertical {
	
	height:auto;
	top: 15%;
	
}
	button#showRight {
		right: 85%;
	}
	button#showLeft {
		left: 85%;
	}
	a.new-event {
		left: 78%;
	}
	.cbp-spmenu ul li a {
		font-size: 1.3em;
		padding: 0.85em 1.5em;
	}
}

@media (max-width: 1366px){
	button#showRight {
		right: 85%;
	}
	button#showLeft {
		left: 85%;
	}
	a.new-event {
		left: 78%;
	}
	.cbp-spmenu-vertical {
	height:auto;
	top: 15%;
	}
}
@media(max-width: 1280px){		
	button#showRight {
		right: 84%;
	}
	button#showLeft {
		left: 84%;
	}
	a.new-event {
		left: 76%;
	}
	.cbp-spmenu-vertical {
		height: auto;
		top: 13%;
	}
}
@media(max-width: 1024px){
	button#showRight {
		right: 81%;
	}
	button#showLeft {
		left: 81%;
	}
	 a.new-event {
	 	left: 72%;
	 }
.cbp-spmenu-vertical {
		height: auto;
	}
	.cbp-spmenu ul li a {
		
		font-size: 1.3em;
	}
}
@media(max-width: 800px){
	button#showRight {
		right: 77%;
	}
	button#showLeft {
		left: 77%;
	}
	a.new-event {
		left: 71%;
	}
	.cbp-spmenu ul li a {
		
		font-size: 1.2em;
	}
	.cbp-spmenu-vertical {
		height: auto;
		width: 270px;
		top: 9%;
	}
	button#showRight img, button#showLeft img, a.new-event img {
		width: 70%;
	}
}
@media(max-width: 640px){
	button#showRight {
		right: 74%;
	}
	button#showLeft {
		left: 74%;
	}
	a.new-event{
		left: 70%;
	}
	.cbp-spmenu ul li a {
		font-size: 0.99em;
		padding: 0.8em 1em;
	}
	.cbp-spmenu-vertical {
		height: auto;
		top:6%;
		width: 230px;
	}
	button#showRight img, button#showLeft img, a.new-event img {
		width: 50%;
	}
}
@media(max-width: 480px){
	button#showRight {
		right: 73%;
	}button#showLeft {
		left: 73%;
	}
	a.new-event {
		left: 68%;
	}
.cbp-spmenu ul li a {
		font-size: 0.8em;
	}
	.cbp-spmenu-vertical {
		height: auto;
		width: 160px;
	}
	button#showRight img, button#showLeft img, a.new-event img {
		width: 47%;
	}
	
}
@media(max-width: 320px){
	.cbp-spmenu-vertical {
		height: auto;
		width: 130px;
		top: 9%;
	}
	.cbp-spmenu ul li a {
		font-size: 0.75em;
		padding: 0.6em 1em;
	}
	button#showRight {
		right: 63%;
	}
	button#showLeft {
		left: 63%;
	}
	a.new-event {
		left: 59%;
	}
	button#showRight img, button#showLeft img, a.new-event img {
		width: 43%;
	}
}
