@CHARSET "ISO-8859-1";
 .form{ 
    max-width: 100%; 
    min-width: 20%; 
    border-width: 1px; 
    border-color: #CCCCCC; 
    border-radius: 5px; 
    border-style: solid; 
    color: #222222; 
    font-size: 14px; 
    margin: 0px; 
    background-color: #FCFCFC; 
    padding: 25px; 
} 
.content{ 
    margin: 25px; 
} 
.form label{ 
    color: #222222; 
    font-size: 14px; 
    display: block; 
} 
.form input[type=radio], input[type=checkbox]{ 
    margin: 10px; 
    width: 13px; 
} 
.form div{ 
    display: block; 
} 
.form input, form textarea, form select, form button{ 
    border-width: 1px; 
    border-style: solid; 
    border-color: #EDEDED; 
    border-radius: 1px; 
    padding: 6px; 
    width: 100%; 
} 
.form, .form h1, .form h2{ 
    font-family: 'Trebuchet MS'; 
} 
.form h1{ 
    font-size: 30px; 
    color: #FF264A; 
    padding: 0px; 
    margin: 0px; 
    margin-bottom: 0px; 
    border-bottom-style: dotted; 
    border-bottom-color: #999999; 
    border-bottom-width: 2px; 
    border-radius: 0px; 
    background-color: #FAFAFA; 
} 
.intro{ 
    margin-bottom: 1px; 
} 
.clear{ 
    clear: both; 
} 
.form textarea{ 
    /*height: 60px;*/ 
    width: 100%;
    resize: none; 
} 
.form button[type=submit]{ 
    width: 100%; 
    background-color: #F55151; 
    color: #FFFFFF; 
}
.form button[type=reset], form button[type=button]{ 
    width: 100%;  
    color: #FFFFFF; 
}
.form button[type=reset]{
	background-color: #777;
}
.form button[type=button]{
	background-colo: #f93;
}
.field{ 
    margin-bottom: 5px; 
} 
